# Ignore node modules (we install fresh inside Docker)
node_modules

# Logs
npm-debug.log
pnpm-debug.log

# OS & editor files
.DS_Store
.vscode
.idea

# Git
.git
.gitignore

# Environment files
.env

# Build/dist folders
dist
build
